body {
  text-align: center;
  padding: 0;
  margin: 0;
}
.slot {
  background-color: grey;
  width: 90%;
  height: 500px;
  margin: auto;
  margin-top: 40px;
  /* overflow: hidden; */
  border-radius: 8px;
}
#slot-screen {
  background-color: yellowgreen;
  top: 10px;
  width: 98%;
  height: 480px;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}
ul {
  list-style: none;
}
ul li {
  border: 2px solid gray;
  border-radius: 5px;
  width: 98%;
  margin: 1px 0;
  background-color: rgb(235, 153, 61);
}
.reels {
  background-color: rgb(156, 100, 35);
  width: 31%;
  position: absolute;
  padding: 0px;
}
.reels:nth-child(1){
  left: 10px;
}
.reels:nth-child(2){
  left: 34.5%;
}
.reels:nth-child(3){
  right: 10px;
}
.reel img {
  display: block;
  margin: auto;
  height: 240px;
  max-width: 100%;
}
.stop-btn {
  display: inline-block;
  padding: 35px;
  margin: 40px;
  background-color: rgb(187, 108, 18);
  border: solid 4px rgb(56, 54, 51);
  border-radius: 60px;
}
.stop-btn:hover {
  background-color: rgb(241, 4, 4);
  /* cursor: pointer; */
}

/* creating the illusion of being pressed into the page. */
.stop-btn:active {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
  border-bottom: none;
}

#start-btn, #stop-btn {
  display: inline-block;
  padding: 20px 40px;
  background-color: rgba(0, 116, 10, 0.959);
  border: solid 4px rgb(56, 54, 51);
  font-size: 30px;
  font-weight: bold;
}
#start-btn:hover {
  background-color: rgba(15, 247, 35, 0.959);
  cursor: pointer;
}
#start-btn:active {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
  /* border-bottom: none; */
}